/* ===================

MAIN FORMATTING 

================ */

*. *:after,
*:before {
  box-sizing: border-box;
}

html {
  font: 16px/1.5 'lato', sans-serif;
}

p,
label {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

header,
section,
main {
  width: 100%;
}

button {
  border: none;
  box-shadow: none;
}


/* ==================

FORMATTING

============== */

.container {
  margin: 0 auto;
  position: relative;
}

.row {
  position: relative;
  text-align: center;
}

.col {
  display: inline-block;
  vertical-align: top;
  margin-right: -5px;
  width: 90%;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hidden,
.desktop-only {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@media screen and (min-width: 770px) {
  .container {
    max-width: 960px;
  }
  
  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }
  .mobile-only {
    display: none;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-3 {
    width: 33.333333%;
  }
  .col-2-3 {
    width: 66.666666%;
  }
  .col-1-4 {
    width: 25%;
  }
  .col-3-4 {
    width: 75%;
  }
}


/* ==================

typography

============== */

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-caps {
  font-variant: small-caps
}

.text-underline {
  text-decoration: underline;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.center-block {
  margin: 0 auto;
}

.text-md {
  font: 18px/1.5 'lato', sans-serif;
}

.text-lg {
  font: 22px/1.5 'lato', sans-serif;
}

.text-xl {
  font: 30px/1.5 'lato', sans-serif;
}

.text-thin {
  font-weight: 100;
}

.text-thick {
  font-weight: 300;
}
/* ==================

Main styling

============== */
#nav-sec {
  background: rgb(231, 76, 60);
  height: 200px;
  transform-style: preserve-3d;
}

button {
  display: block;
  margin: 0 auto;
  height: 40px;
  border: none;
  width: 35%;
  vertical-align: middle;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

#btn-login {
  background: rgb(52, 152, 219);
}

#btn-create {
  background: rgb(24, 188, 156);
}

#btn-login-submit {
  background: rgb(153, 84, 187);
}

#btn-create-account {
  background: rgb(231, 76, 60);
}

div.col-1-2 > input {
  width: 80%;
  margin:2% auto;
  height: 45px;
}
#login-sec {
  padding: 2% 0;
  background: rgb(52, 152, 219);
}

#create-sec {
  padding: 2% 0;
  background: rgb(24, 188, 156);
}
